.my-card{
    position: relative;
    display: inline-block;
    width: 75%;
    height: auto;
    margin-right: 1.2%;
    background: #ffffff;
    border-radius: 4px;
    margin: 2em auto 0em;

    z-index: 0;

    padding: 13px 23px;

    cursor: pointer;

    &:not(:first-child) {
        margin-top: 1.2em;
    }

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    }

    &-header {
        color: #616161;
        font-size: 32px;
        font-weight: 500;
    }
}