a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar-collapse {
    z-index: 20;
}

.sidebar-btn {
    padding: 5px;
    width: 30px;
    max-height: 30px;
    position: relative;
    top: 10px;
    left: 0;
    z-index: 10;
    font-size: 14px;
    border-radius: 3px;
    background: rgba(24, 106, 212, 0.301);
    color: white;
}
.sidebar-btn.active {
    top: 10px;
    left: 200px;
}
.sidebar-btn:hover {
    background: rgba(24, 105, 212, 0.726);
    color: white;
}

.wrapper {
    display: flex;
    width: 100%;
}

#content {
    width: 100%;
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    transition: all 0.3s;
    position: absolute;
    top: 56px;
    right: 0;
    overflow-y: scroll;
}

#content.active {
    width: calc(100% - 200px);
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 56px;
    margin-left: -200px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    z-index: 999;
    background: #065a92fa;
    color: #fff;
    transition: all 0.3s;
    border-top: 2px solid rgb(253, 250, 60);
}

#sidebar.active {
    margin-left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background: #618fadb0;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: white;
    background: #065a92fa;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #065a92fa;
}

.main-bg-color {
    background:#065a92fa;
}

.loginRegisterForm  {
    border-radius: 10px;
    height: auto;
    min-width: 350px;
    width: auto;
    padding: 15px;
    border: 1px dashed #016087;
}


.brand {
    letter-spacing: 2px;
}

.nav-item {
    min-width: 60px;
}

.has-search .form-control {
    font-size: 13px;
    padding-left: 2.375rem;
}
  
.has-search .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 2.375rem;
line-height: 2.375rem;
text-align: center;
pointer-events: none;
color: #aaa;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 40%;
}

.category-item {
    text-align: center;
    min-width: 100px;
    min-height: 34px;
    color: #065a92fa;
}

.category-item:hover {
    background: #9fceeeb0;
}

.category-item.active { 
    border-bottom: 3px solid #065a92fa;
}

.list-group-item {
    padding: 10px;
    min-height: 150px;
}

.post-list {
    max-width: 780px;
    width: 100%;
}

.post-list-item {
    display: inline-flex;
    justify-content: space-between;
}
.card-content {
    width: 96%;
}
.itemcard-actions {
    width: 4%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
}

.itemcard-action-btn {
    font-size: 20px;
    padding: 5px;
}
.itemcard-action-btn:hover {
    font-size: 30px;
    padding: 5px;
    color: red;
}
.item-card-content {
    max-height: 150px;
    overflow: hidden;
}

/* DETAIL POST */
.detail__date {
    color: gray;
}

.detail__title {
    font-size: 2em;
    font-family: 'Montserrat';
    font-weight: 700;
    min-height: 60px;
    margin-bottom: 30px;
    color: rgb(5, 5, 112);
}
.detail__content {
    min-height: 300px;
    /* font-family: "Playfair Display", serif; */
    font-size: 20px;
}

/* facebook share button */
._2tga._49ve {
    height: 28px;
}

.detail-badge:hover {
    background: #016087;
    transition: 0.2s all;
}
.detail-badge {
    min-width: 50px;
    font-size: 14px;
    padding: 8px;
}


/* FOOTER */
.footer {
    min-height: 100px;
    margin-top: 300px;
    background: #065a92fa;
}

/* Media Queries (auto hide sidebars on smaller screen) */
@media (max-width: 768px) {
    .sidebar-btn {
        position: relative;
        left: 0;
    }

    .sidebar-btn.active {
        position: relative;
        left: 200px;
    }

    .post-list {
       width: 100%;
    }

    #sidebar.active {
        margin-left: 0;
    }
    #sidebar {
        margin-left: -250px;
    }

    #content {
        width: 100%;
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}
