<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css">
  <link href="css/add.css" rel="stylesheet">
  <title>Mini WP</title>
</head>
<body>
<div id="thepage">
    <div v-if="islogin">
      <!-- NAVIGATION -->
      <nav class="ui teal inverted labeled icon menu">
        <p class="header item"><i class="user icon"></i>Helo, {{user}}!</p>
        <a class="item view-articles" ><i class=" newspaper outline icon" ></i>My Articles</a>
        <div class="right menu">
          <a class="item" @click="viewwrite" ><i class="edit outline icon"></i>Write</a>
          <a class="item" @click="logout" ><i class="sign-out icon"></i>Log Out</a>
        </div>
      </nav>
        
      <!-- CONTENT -->
      <div class="ui container">
      
        <!-- ALL ARTICLES -->
        <div class="ui container" v-if="page === 'articles'">
          <br>
          <div class="ui container segment">
            <div class="ui relaxed divided items" v-if="articlelist.length != 0">
              <div class="item" v-for="article in articlelist">
                <div class="content">
                  <a class="header">{{article.title}}</a>
                  <div class="meta">
                    <pre><i class="calendar alternate outline icon"></i> {{article.createdAt}}  <i class="tag icon"></i> {{article.status}}</pre> 
                  </div>
                  <div class="description">
                    {{article.snippet}}
                  </div>
                  <div class="extra">
                    <i class="ui users icon"></i> {{ user }} <br>  
                  </div>
                </div>
              </div>
            </div>

            <div class="ui container segment" v-if="articlelist.length == 0">
              NO ARTICLES FOUND
            </div>
          </div>
        </div>

        <!-- EDIT & VIEW ONE ARTICLES -->
        <div class="ui container" id="update" v-if="page === 'updatearticle'">
          one-article-view
          <div class="ui container segment">

            <form class="ui form center aligned">
              <div id="editorupdatearticle">
                <br>
              </div>
              
              <div class="ui container center aligned">
                <button class="ui button center aligned teal huge">Update</button>
              </div>
            </form>
          </div>
        </div>

        <!-- WRITE NEW ARTICLE -->
        <div class="ui container" v-if="page === 'writearticle'">
          
          <div class="ui segments center aligned">
            <div class="ui segment grid right aligned" style="background-color: #DADADA">
                <div class="ui ten wide column left aligned">
                    <h4>Write New Article</h4>
                </div>
                <div class="ui six wide column">
                    Today : {{ date }}
                </div>
            </div>
            <div>
              <div class="ui fluid icon input">
                <input type="text" class="header" v-model="title" class="ui fluid input" placeholder="Article's Title">
                <i class="bookmark icon"></i>
              </div>
              <div id="editornewarticle">
                <p>Write your content here</p>
                <p><br></p>
              </div>
            </div>
          </div>
          <div class="ui container right aligned">
              <button class="ui button teal huge" @click="savearticle">Save this article</button>
            <button class="ui button teal huge" >Save & Post this article</button>
          </div>
              <BR><BR><bR>
        </div>
      </div>
        <!-- FOOTER -->
        <footer >
          <div class="ui inverted teal footer segment">
              <div class="ui container center aligned">
                <i class="pencil alternate icon"></i> Mini Wordpress
              </div>
          </div>
        </footer>
      </div> 
      
    <div v-else="islogin">
        <!-- LOGIN -->
        <div class="ui container" v-if="page === 'login'">
          <div class="ui middle aligned center aligned grid">
            <div class="column">
              <h1 class="ui center aligned icon header">
                <i class="massive circular inverted teal pencil icon"></i>
                Mini Wordpress
              </h1>
              <h4>Sign in to proceed</h4>
              <form class="ui large form">
                <div class="ui stacked segment">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input type="text" placeholder="E-mail address" v-model="email">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" placeholder="Password" v-model="password">
                    </div>
                  </div>
                  <div class="ui fluid large teal button" @click="login"><i class="sign-in icon"></i>Login</div>
                  <br>
                  <div class="ui fluid large teal button">Login by Google</div>
                </div>
                <div class="ui message">
                  New to us?
                  <div class="ui fluid large teal button" @click="viewregister" >Register</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- REGISTER -->
        <div class="ui container" id="signup-page" v-if="page == 'register'">
          <div class="ui middle aligned center aligned grid">
            <div class="column">
              <h1 class="ui center aligned icon header">
                <i class="massive circular inverted teal pencil icon"></i>
                Mini Wordpress
              </h1>
              <h4>Hello, fill form below to create new Account! </h4>
              <form class="ui large form">
                <div class="ui stacked segment">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input type="text" placeholder="Name" v-model="name">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="envelope outline icon"></i>
                      <input type="text" placeholder="E-mail address" v-model="email">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" placeholder="Password" v-model="password">
                    </div>
                  </div>
                  <div class="ui fluid large teal button" @click="register"><i class="sign-in icon"></i>Register</div>
                </div>
                <div class="ui message">
                  Already have an account?
                  <div class="ui fluid large teal button" @click="viewlogin">Login</div>
                </div>
                <div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
      
</div>
<!-- SCRIPT -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  var quill = new Quill('#editornewarticle', { theme: 'snow' });
  var quill2 = new Quill('#editorupdatearticle', { theme: 'snow' });
</script>
<script src="javascript/vue.js"></script>
</body>
</html>